.Home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0000;
  text-align: center;
  z-index: 0;
  overflow-y: scroll  ;
}

.bg-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/movie-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat
}



.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  border-bottom: 1px solid #ddd;
  background-color: cadetblue;
  z-index: 3;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-bar img {
  margin-top: 5px;
  width: 45px;
  height: 45px;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.navbar-links {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-content: center;
  margin-top: 20px; 
}


.card {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 300px;
  height: 580px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 35px;
  background-color: #fff;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 300px;
}

.card-info {
  flex: 1;
  padding: 0 10px;
}

.card-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-info p {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.card-buttons{
  margin-top: 15px;
}

.update-button {
  background-color: rgba(0, 201, 0, 0.393);
  color: rgb(0, 144, 14);
  border: 2px solid green;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.delete-button {
  background-color: rgba(197, 0, 0, 0.409);
  color: rgb(175, 0, 0);
  border: 2px solid red;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.update-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr; 
  }

  .card {
    margin-left: auto; 
    margin-right: auto;
    width: 80%; 
    margin-top: 200px;
  }

  .navbar {
    flex-direction: column; 
  }

  .navbar-brand {
    margin-bottom: 20px; 
  }

  .search-bar {
    margin-bottom: 20px; 
  }
}


